<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyPeanut</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddressController</display-name>
    <servlet-name>AddressController</servlet-name>
    <servlet-class>work.Controller.AddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressController</servlet-name>
    <url-pattern>/AddressController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>work.Controller.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>work.Controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardController</display-name>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>work.Controller.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/BoardController</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>work.Controller.InitServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AirController</display-name>
    <servlet-name>AirController</servlet-name>
    <servlet-class>work.Controller.AirController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirController</servlet-name>
    <url-pattern>/AirController</url-pattern>
  </servlet-mapping>
</web-app>